*{
    margin: 0 auto;
    padding: 0;
}

body{
    background-image: url(img/fundo.png);
    background-repeat: repeat-x;
    background-size: 220px 180px;
    font-family: Arial, Helvetica, sans-serif;
}

header img{
    padding: 20px 0px 15px 25px; 
    width: 120px;
}


/*ESTRUTURAÇÃO*/

#container_prin{
    margin: 0 auto;
    padding: 0;
    max-width: 720px;
    min-width: 720px;
}

#conteudo_prin{
    margin: 70px 0px 0px 0px;
}

#container_navL{
    background-image: url(img/fundo-caixa.png);
    display: inline;
    width: 25%;
    padding: 0px 0px 5px 0px;
    float: left;
}

#form_email{
    background-color: white;
}


#form_email form label{
    padding: 5px;
    display: block;
    background-color: white;
}

.input_cadastrar{
    background-color: #E50040;
    padding: 5px;
    margin: 5px 0px 5px 0px;
    color: white;
    border: none;
    cursor: pointer;
}

#container_sec{
    background-image: url(img/fundo-caixa.png);
    width: 71.6%;
    margin-left: 20px;
    float: left;
}

#container_conteudo1{
    display: inline;
    width: 48.5%;
    float: left;
    margin: 5px 0px 5px 5px;
    background-color: white;
}

#container_conteudo2{
    display: inline;
    width: 48.5%;
    float: left;
    margin: 5px 0px 5px 5px;
    background-color: white;
}

#container_conteudo3{
    display: inline;
    width: 48.5%;
    float: left;
    margin: 5px 0px 5px 5px;
    background-color: white;
}

#container_conteudo4{
    display: inline;
    width: 48.5%;
    float: left;
    margin: 5px 0px 5px 5px;
    background-color: white;
}



.clear{
    clear: both;
}

footer{
    text-align: center;
    color: white;
    height: 60px;
    margin-top: 50px;
    background-color: RGB(41, 76, 113);
}

footer p{
    font-size: 90%;
    padding-top: 24px;
}

/*FIM ESTRUTURAÇÃO*/


/*NAVEGAÇÃO*/

#menu{
    display: inline-block;
}

#menu ul{
    list-style: none;
    float: left;
    border: RGB(101, 4, 63) solid 1px;
}
#menu ul li{
    float: left;
    padding: 10px 0px 10px 0px;
    text-align:center;
    background-color: RGB(177, 0, 46);
}

#menu ul li a{
    text-decoration: none;
    color: white;
    padding: 10px 20px;
}

#menu ul li a:hover{
    background-color: RGB(225, 0, 55);
    transition: 0.3s;
}

#menu ul li a:not(:hover){
    background-color: RGB(177, 0, 46);
    transition: 0.3s;
}

#menu ul li a.link_atual{
    background-color: RGB(225, 0, 55);
}

/*menu lateral*/

#menu_l ul li{
    list-style: none;
    background-color: white;
    margin: 0px 5px;
    padding: 10px 5px;
}

#menu_l a{
    text-decoration: none;
    color: black;
}

#menu_l a:hover{
    color: rgb(161, 161, 180);
    transition: 0.5s;
}

#menu_l a:not(:hover){
    color: black;
    transition: 0.5s;
}

/*FIM NAVEGAÇÃO*/


/*ESTILO IMAGEM*/

.img_topico_prin img{
    padding: 5px;
    width: 96%;
}

.img_topico_prin figcaption {
    padding-left: 5px;
}

.img_topico_prin a{
    text-decoration: none;
    color:#E50040;
}

.img_topico_sec img{
    margin: 10px 7px;    
    width: 30%;
    float: left;
}

.img_topico_sec a{
    text-decoration: none;
    color: black;
}


/*FIM ESTILO IMAGEM*/


/*ESTILO TEXTO*/

#container_navL h1{
    background-color: RGB(40, 73, 109);
    margin: 3px;
    height: 35px;
    padding: 5px 0px 0px 3px;
    color: white;
}

.h1_style1{
    background-color: RGB(40, 73, 109);
    padding: 5px;
    color: white;
}

.p_style1{
    display: inline-flex;
    font-size: small;
    margin-top: 10px;
    padding: 3px;
    background-color: RGB(233, 0, 55);
}

.p_style2{
    display: inline-flex;
    font-size: small;
    margin-top: 10px;
    padding: 3px;
    color: white;
    background-color: RGB(178, 0, 45);
}

.titulo_topico_sec{
    display: inline-block;
    font-size: 11px;
    color: rgb(31, 133, 133);
    margin-top: 13.8px;
}

.subtitulo_topico_sec{
    font-weight: bold;
    font-size: 11.5px;
}

/*FIM ESTILO TEXTO*/



